<%= content_for :meta_title, "Yourdomain - Your Meta" %>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/1167355/pexels-photo-1167355.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);">
  <div class="container">
    <h1>Blog de Fara</h1>
  </div>
</div>

<div class="container page-min-height">
  <h2>Article</h2>
  <article>  </article>
  <aside>  </aside>
</div>
